version: '3.8'
services:
  redis:
    image: 'redis:alpine'
    ports:
      - 6379:6379
    command: ['redis-server', '--appendonly', 'yes']
    volumes: 
      - ./redis-data:/data
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app
    depends_on:
      - redis